
  <div class="row">
      <div class="col-sm-12">
        <div class="content"> &nbsp; </div>
      </div>
    </div>
 <div item-width="100%">
     <strong class="text-info text-green"> Add Task Details </strong>  
</div>
<div class="row">
    <div class="col-sm-12">
      <div class="content"> &nbsp; </div>
    </div>
  </div>
<div class="container">
  <div class="row align-items-start">
      <div class="col">
       
          <form  [formGroup]="frmTaskGroup" (ngSubmit)="AddTaskDetails()">
      <div class="form-group row">
          <label class="col-sm-4 col-form-label"> Task Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="TaskName"   >
        </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"> Priority</label>
        <div class="col-sm-8">
          <input type="range" class="form-control"  formControlName="Priority" max=30 >
        </div>
        </div>

          <div class="form-group row">
              <label class="col-sm-4 col-form-label">Parent Task</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control"  formControlName="Parent_ID" >
            </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Start Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control"   formControlName="StartDate"  >
              </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"> End Date</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control"  formControlName="EndDate">
                </div>
                </div>

                <div class="form-group row justify-content-end">
                  <div class="col-sm-4">
                      <button type="Submit"  class="btn btn-success"> Add Task</button>
                  </div>
                  <div class="col-sm-4">
                      <button type="button" (click)="resetTaskForm()" class="btn btn-success"> Reset</button>
                    </div>
                  </div>





                  <div class="form-group row"  >
                      <div class="col-sm-4">
                          <p class="text-success"> <strong> {{showMsg}} </strong> </p>
                      </div>
                     
                      </div>










                  
               
                <!-- <div class="form-group row justify-content-end">
                  <div class="col-sm-4">
                      <button type="Submit"  class="bt btn-secondary"> Add Task</button>
                  </div>
                  <div class="col-sm-4">
                      <button type="button" (click)="resetTaskForm()" class="bt btn-secondary"> Reset</button>
                    </div>
                  </div> -->



      <!-- <table>    
          <tr>
            <td>Task Name</td>
            <td><input type="text"   > </td>
            </tr>
      <tr>
        <div class="slidecontainer">
        <td>Priority </td>
        <td><input type="range"  [formControl]="txtSearchPriority" min="1" max="10"> </td>
      </div>
        </tr>
    <tr>
        <td colspan="2">  
        <input type="button" id="btnSearchText" class="btn btn-success" value="Search"  (click)=showTaskName(txtSearchTaskName)>       
         <input type="text"   formControlName="TaskName" >                   
       </td> 
      </tr>
      </table> -->
      </form>
      </div>
      </div>
</div>

<!-- 
<form [formGroup]="frmTaskGroup">
<div class="container">
  <table>    
      <tr>
        <td>Task Name</td>
        <td><input type="text"  [formControl]="txtSearchTaskName" > </td>
        </tr>
  <tr>
    <div class="slidecontainer">
    <td>Priority </td>
    <td><input type="range"  [formControl]="txtSearchPriority" min="1" max="10"> </td>
  </div>
    </tr>
<tr>
    <td colspan="2">  
    <input type="button" id="btnSearchText" class="btn btn-success" value="Search"  (click)=showTaskName(txtSearchTaskName)>
     <label formControlName="TaskName"  [formControl]="txtSearchForm"  > The Task Name is </label>  -->
     <!-- <input type="text"   formControlName="TaskName" >       -->
     <!-- <label>{{showTaskName('TaskName')}} gh </label>  -->

   <!-- </td> 
  </tr>
  </table>ng 
</div> -->






  <!-- <div class="container">

      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">TaskID</th>
              <th scope="col">Task Name</th>                
              <th scope="col">Parent ID</th>    
              <th scope="col">Priority</th>   
              <th scope="col">Start </th>                 
              <th scope="col">End </th>      
              <th scope="col" colspan="2">{{txtSearchPriority.value}}</th>                       
            </tr>
          </thead>
          <tbody *ngFor="let eachTask of taskCollection | searchPipe:txtSearchTaskName.value: txtSearchPriority.value">             
            <tr  >   
                <td>{{eachTask.TaskID}}</td>
                <td>{{eachTask.TaskName}}</td>
                <td>{{eachTask.Parent_ID}}</td>
                <td>{{eachTask.Priority}}</td>
                <td>{{eachTask.StartDate}}</td>
                <td>{{eachTask.EndDate}}</td>                 
                <td>   <input type="button" id="btnEditText" class="btn btn-success" value="Edit"> </td>
                <td> <input type="button" id="btnFinishText" class="btn btn-success" value="Finish"> </td>
              
                
            </tr>
          </tbody>
        </table>
</div> -->

            <!-- <tr>
            <td>
              <ul>
                <li *ngFor="let eachTask in taskCollection">
                    {{eachTask.TaskID}}, {{eachTask.TaskName}}

              </li></ul>
            </td>
            </tr> -->
            <!-- <pre>{{ taskCollection.value | json }}</pre> -->


<!-- <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>

        <tr *ngFor="let hero of heroes">

        </tr>

      </tbody>
    </table>
  </div> -->

  <!-- <table>
    <tr>
      <td>Task ID</td>
      <td><input type="text" formControlName="TaskID"  > </td>
      </tr>
  <tr>
    <td>Searched Task Based on Task ID  Enter Task ID (from 1 to 7) </td>
      <td><input type="text"  class="form-control" name="searchTask" [(ngModel)]="searchTask"> </td>  -->
     <!-- <td><input type="text" [formControl]="txtSearchForm"  > </td> 
    </tr>
<tr>
    <td colspan="2">  
    <input type="button" id="btnSearchText" class="btn btn-success" value="Search"  (click)=showTaskName(txtSearchForm)> -->
    <!-- <label formControlName="TaskName"  [formControl]="txtSearchForm"  > The Task Name is </label>  -->
     <!-- <input type="text"   formControlName="TaskName" >       --> 
     <!-- <label>{{showTaskName('TaskName')}} gh </label>  -->

   <!-- </td> 
  </tr> -->
    <!-- <tr> 
    <td>Enter Task ID  you want to Add (only numbers) </td>
     <td><input type="text" id="txtAddSearch" [formControl]="txtAddTaskIDForm"> </td>
     </tr>
     <tr> 
        <td>Enter Task Name  you want to Add (only numbers Or Characters) </td>
         <td><input type="text" id="txtAddSearchTaskName" [formControl]="txtAddTaskNameForm"> </td>
         </tr> -->
  <!-- <tr>
    <td colspan="2">  <button type="Submit" id="btnAdd" class="btn btn-success"  (click)=AddTaskDetails()>Add</button> </td>
   </tr>

   <tr>
      <td colspan="2">  <button type="Submit" id="btnUpd" class="btn btn-success"  (click)=UpdateTaskDetails()>Update</button> </td>
     </tr>

     <tr>
        <td colspan="2">  <button type="Submit" id="btnUpd" class="btn btn-success"  (click)=DeleteTaskDetails(txtSearchForm)>Delete</button> </td>
       </tr>
  </table>   -->


 


<!-- </form>  -->