<div class="row">
    <div class="col-sm-12">
      <div class="content"> &nbsp; </div>
    </div>
  </div>
    
   <div item-width="100%">
    <h5> <p class="text-info text-green"> Update Task Details </p></h5>
  </div>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
                <form [formGroup]="frmTaskGroup" (ngSubmit)="UpdateTaskDetails()">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"> Task</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="TaskName"     >
                  </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label"> Priority</label>
                    <div class="col-sm-8">
                      <input type="range" class="form-control"  formControlName="Priority">
                    </div>
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Parent Task</label>
                    <div class="col-sm-8">
                      <input type="text"  class="form-control"   formControlName ="Parent_ID"  >
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"> Start Date</label>
                      <div class="col-sm-8">
                         <!-- <input type="date" class="form-control"   formControlName="StartDate" ng-model="StartDate | date:'dd-MM-yyyy'">  -->
                        <!-- <input type="date" class="form-control"   formControlName="StartDate | date:'dd-MM-yyyy'"   > -->
                        <input type="date" class="form-control"   formControlName="StartDate">
                      </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> End Date</label>
                        <div class="col-sm-8">
                          <input  type="date" class="form-control" ngbdate  formControlName="EndDate">
                        </div>
                        </div>
                       
                      <div class="form-group row justify-content-end">
                        <div class="col-sm-4">
                            <button type="Submit" class="btn btn-success">Update Task</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success" (click)="resetTaskForm()">Reset</button>
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="showMsg" >
                          <div class="col-sm-4">
                          </div>
                          <p class="text-success"> <strong>Updated Successfully</strong> </p>
                          </div>
                          <div class="form-group row" *ngIf="showTaskID">                              
                            <div class="col-sm-8">
                              <input type="text" class="form-control" formControlName="TaskID"     >
                            </div>
                            </div>
                </form>
      </div>
    </div>
  </div>