
  <div class="row">
      <div class="col-sm-12">
        <div class="content"> &nbsp; </div>
      </div>
    </div>
 <div item-width="100%">
    <strong class="text-info text-green">  View Task Details </strong>  
</div>
<div class="row">
    <div class="col-sm-12">
      <div class="content"> &nbsp; </div>
    </div>
  </div>
<div class="container">
  <div class="row align-items-start">
      <div class="col">
      <form  >
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> Task</label>
                <div class="col-sm-5">
                  <input type="text" [formControl]="txtTask"  name="txtTask" >
                </div>
                <label class="col-sm-1 col-form-label"> Parent Task</label>
                <div class="col-sm-5">
                  <input type="text" [formControl]="txtParentTask" class="form-control"    >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Prioriy From</label>
                <div class="col-sm-2">
                  <input type="text" [formControl]="txtPrioriyFrom" class="form-control"     >
                </div>
                <label class="col-sm-1 col-form-label">Priority To</label>
                <div class="col-sm-2">
                  <input type="text" [formControl]="txtPrioriyTo" class="form-control"   >
                </div>
                <label class="col-sm-1 col-form-label">Start Date</label>
                <div class="col-sm-2">
                    <input type="date" [formControl]="dtStartDate" class="form-control"    >
                </div>
                <label class="col-sm-1 col-form-label">End Date</label>
                <div class="col-sm-2">
                    <input type="date" [formControl]="dtEndDate" class="form-control"  >
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
            <!-- <div class="form-group row">
                <label class="col-sm-1 col-form-label">Prioriy From</label>
                <div class="col-sm-2">
                  <input type="text" id="txtPrioriyFrom" class="form-control" name="txtPrioriyFrom"  >
                </div>
                <label class="col-sm-1 col-form-label">Priority To</label>
                <div class="col-sm-2">
                  <input type="text" id="txtPrioriyTo" class="form-control" name="txtPrioriyTo"  >
                </div>
                <label class="col-sm-1 col-form-label">Start Date</label>
                <div class="col-sm-2">
                    <input type="date" id="dtStartDate" class="form-control" name="dtStartDate"  >
                </div>
                <label class="col-sm-1 col-form-label">End Date</label>
                <div class="col-sm-2">
                    <input type="date" id="dtEndDate" class="form-control" name="dtEndDate"  >
                </div>
            </div> -->
  
            <div class="form-group row">
             
             <table id=tdAllTasks class="table">
               <thead>
                 <tr>
                   <th>Task</th>
                   <th>Parent Task</th>
                   <th>Priority</th>
                   <th>Start Date</th>
                   <th>End Date</th>
                   <th colspan="3"></th>                  
                 </tr>
                 <tr><td colspan="8">
                   <!-- <button class="btn" id="btnEditTask" [routerLink]="['/UpdateTask/update-task']">Edit</button></td></tr> -->
               </thead>
               <!-- <tbody *ngFor="let eachTask of taskCollection | searchPipe::txtTask : txtParentTask : txtPrioriyFrom : txtPrioriyTo : dtStartDate : dtEndDate">   -->
                  <tbody *ngFor="let eachTask of taskCollection | searchPipe:txtTask.value : txtParentTask.value : txtPrioriyFrom.value : txtPrioriyTo.value : dtStartDate.value : dtEndDate.value ">             
                    <tr  >                         
                      <td>{{eachTask.TaskName}}</td>
                      <td>{{eachTask.Parent_ID}}</td>
                      <td>{{eachTask.Priority}}</td>
                      <td>{{eachTask.StartDate}}</td>
                      <td>{{eachTask.EndDate}}</td>     
                      <td>   <input type="button" id="btnEditText"     [disabled]="eachTask.IsTaskEnd" class="btn btn-success"  value="Edit" [routerLink]="['/UpdateTask',eachTask.TaskID]"> </td>            
                       <!-- <td>   <input type="button" id="btnEditText"  [(ngModel)]="eachTask.IsTaskEnd"    disabled="{{eachTask.IsTaskEnd}}" class="btn btn-success"  value="Edit" [routerLink]="['/UpdateTask',eachTask.TaskID]"> </td> -->
                      <td> <input type="button" id="btnFinishText" class="btn btn-success" value="End Task" [disabled]="eachTask.IsTaskEnd" (click) ="EndTask(eachTask.TaskID)" > </td>                    
                      <!-- <td><button class="btn" id="btnEditTask" [routerLink]="['/UpdateTask',task.Task_ID]">Edit</button></td>
                      <td><button class="btn" id="btnEndTask" (click) ="endTask(task.Task_ID)">End Task</button></td>
                      <td><button class="btn" id="btnDeleteTask" (click) ="deleteTask(task.Task_ID)">Delete Task</button></td> -->
                  </tr>
                  </tbody>
                 
              </table>
                <!-- </tbody>  
             
                 <tbody>
                 <tr *ngFor = "let task of allTask | viewTaskFilter :txtTask : txtParentTask : txtPrioriyFrom : txtPrioriyTo : dtStartDate : dtEndDate">
                   <td><label class="col-sm-4 col-form-label" > {{task.TaskName}}</label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.Parent_ID}}</label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.Priority}} </label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.StartDate}} </label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.EndDate}} </label> </td>
                   <td></td>
                   <td><button class="btn" id="btnEditTask" [routerLink]="['/UpdateTask',task.Task_ID]">Edit</button></td>
                   <td><button class="btn" id="btnEndTask" (click) ="endTask(task.Task_ID)">End Task</button></td>
                   <td><button class="btn" id="btnDeleteTask" (click) ="deleteTask(task.Task_ID)">Delete Task</button></td>
                 </tr>
               </tbody> -->
             <!-- </table> -->
            <!-- </div>
        </form>
      </div>
    </div>
  -->
</div>
   